In [1]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, ForeignKey

In [2]:
# Replace with your actual PostgreSQL connection details
db_connection_str = 'postgresql://username:password@localhost:5432/final_project_group1'
db_connection = create_engine(db_connection_str)

In [3]:
# Create MetaData instance
metadata = MetaData()

In [4]:
# Create tables based on the schema
unemployment = Table('unemployment', metadata,
    Column('FIPS_code', Integer, primary_key=True),
    Column('State', String),
    Column('Area_name', String),
    Column('Year', Integer, primary_key=True),
    Column('Unemployed', Integer),
    Column('Unemployment_rate', Integer)
                    )

In [5]:
poverty = Table('poverty', metadata,
    Column('Year', Integer, primary_key=True),
    Column('FIPS_code', Integer, primary_key=True),
    Column('State', String),
    Column('Area_name', String),
    Column('Rural_urban_continuum_code_2003', Integer),
    Column('Urban_influence_code_2003', Integer),
    Column('Rural_urban_continuum_code_2013', Integer),
    Column('Urban_influence_code_2013', Integer),
    Column('POVALL', Integer),
    Column('PCTPOVALL', Integer)
)

In [6]:
personal_income = Table('Personal_Income_2017_2020', metadata,
    Column('Year', Integer, primary_key=True),
    Column('County', String),
    Column('State', String),
    Column('GeoFips', Integer, primary_key=True),
    Column('Personal_Income', Integer),
    Column('Population', Integer),
    Column('Per_Capita_Personal_Income', Integer)
)

In [7]:
education = Table('education', metadata,
    Column('Year', Integer, primary_key=True),
    Column('FIPS_code', Integer, primary_key=True),
    Column('State', String),
    Column('Area_name', String),
    Column('Number of adults with less than HS diploma', Integer),
    Column('Number of adults with HS diploma only', Integer),
    Column('Number of adults completing some college or associates degree', Integer),
    Column('Number of adults with a bachelors degree or higher', Integer)
                 )

In [8]:
opioid_deaths_all = Table('opioid_deaths', metadata,
    Column('County', String),
    Column('CountuCode', Integer, primary_key=True),
    Column('Deaths', Integer),
    Column('Population', Integer),
    Column('Crude_rate', Integer),
    Column('Year', Integer, primary_key=True)
)

In [10]:
population = Table('population', metadata,
    Column('Year', Integer, primary_key=True),
    Column('FIPS_code', Integer, primary_key=True),
    Column('County', String),
    Column('State', String)
                  )

InvalidRequestError: Table 'population' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [14]:
prescription_rate = Table('prescription_rate', metadata,
    Column('State', String),
    Column('County', String),
    Column('County_FIPSCode', Integer, primary_key=True),
    Column('OpioidDispenseRateper100', Integer),
    Column('Year', Integer, primary_key=True) 
                         )

In [15]:
# Create all the tables in the metadata
metadata.create_all(db_connection)

In [18]:
import pandas as pd
from sqlalchemy import create_engine

# Replace with your actual PostgreSQL connection details
db_connection_str = 'postgresql://username:password@localhost:5432/final_project_group1'
db_connection = create_engine(db_connection_str)

# Load each CSV file into a pandas DataFrame
unemployment_df = pd.read_csv('unemployment.csv')
poverty_df = pd.read_csv('poverty.csv')
personal_income_df = pd.read_csv('Personal_Income_2017_2020.csv')
education_df = pd.read_csv('education.csv')
prescription_rate_df = pd.read_csv('2017_2020CountyOpioidPrescriptionRate.csv')
opioid_deaths_df = pd.read_csv('opioid_deaths_all.csv')
population_df = pd.read_csv('population.csv')

In [19]:
# Load each DataFrame into its respective table in the PostgreSQL database
unemployment_df.to_sql('unemployment', db_connection, if_exists='replace', index=False)
poverty_df.to_sql('poverty', db_connection, if_exists='replace', index=False)
personal_income_df.to_sql('Personal_Income_2017_2020', db_connection, if_exists='replace', index=False)
education_df.to_sql('education', db_connection, if_exists='replace', index=False)
prescription_rate_df.to_sql('2017_2020_Prescription_rate', db_connection, if_exists='replace', index=False)
opioid_deaths_df.to_sql('opioid_deaths', db_connection, if_exists='replace', index=False)
population_df.to_sql('population', db_connection, if_exists='replace', index=False)

In [20]:
# Query and print a sample of data to verify the loading process
sample_data = pd.read_sql_query('SELECT * FROM unemployment LIMIT 10', db_connection)
print(sample_data)

   Year  FIPS_code State            Area_name Unemployed  Unemployment_rate
0  2017       1001    AL   Autauga County, AL      1,045                4.0
1  2017       1003    AL   Baldwin County, AL      3,866                4.2
2  2017       1005    AL   Barbour County, AL        501                6.0
3  2017       1007    AL      Bibb County, AL        387                4.5
4  2017       1009    AL    Blount County, AL      1,030                4.1
5  2017       1011    AL   Bullock County, AL        246                5.0
6  2017       1013    AL    Butler County, AL        510                5.6
7  2017       1015    AL   Calhoun County, AL      2,344                5.1
8  2017       1017    AL  Chambers County, AL        641                4.2
9  2017       1019    AL  Cherokee County, AL        477                4.2